<!-- Based on fast/repaint/button-spurious-layout-hint.html -->
<head>
    <script src="resources/paint-invalidation-test.js" type="text/javascript"></script>
    <script>
        window.expectedPaintInvalidationObjects = [
            "LayoutButton BUTTON id='target'",
        ];
        function paintInvalidationTest()
        {
            document.getElementById("target").style.backgroundColor = "lightpink";
        }
    </script>
</head>
<body onload="runPaintInvalidationTest()">
    <button id="target" style="height: 100px; width: 100px; background-color: lightblue; border: none;">&nbsp;</button>
</body>
