<!-- Based on fast/repaint/inline-horizontal-bt-overflow.html -->
<script src="resources/paint-invalidation-test.js"></script>
<script>
    window.expectedPaintInvalidationObjects = [
        "LayoutText #text",
        "InlineTextBox 'A\u00A0\u00A0B'",
    ];
    function paintInvalidationTest()
    {
        document.getElementById("target").style.webkitTextStrokeColor = "green";
    }
</script>
<script src="../../../fast/repaint/../../resources/ahem.js"></script>
<body onload="runPaintInvalidationTest()" style="padding: 50px; -webkit-writing-mode:horizontal-bt">
    <div><span id="target" style="font-family: Ahem; font-size: 50px; -webkit-text-stroke: 50px red;">A&nbsp;&nbsp;B</span></div>
</body>
