<!-- Based on fast/repaint/transform-translate.html -->
<head>
<title>Repaint test for bug 15719</title>
<script src="resources/paint-invalidation-test.js" type="text/javascript"></script>
</head>
<body onload="runPaintInvalidationTest()">
<h1>Repaint test for bug 15719</h1>
<div id="target" style="transform: translate(0, 0); width: 100px; height: 100px; background-color: yellow; border: solid;"></div>
<script>
    var offset = 0;
    window.expectedPaintInvalidationObjects = [
        "LayoutBlockFlow DIV id='target'",
    ];
    function paintInvalidationTest()
    {
        offset += 20;
        document.getElementById("target").style.webkitTransform = "translate(" + offset + "px, 0)";
    }
</script>
